* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e0856);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 500px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 11px;
    font-size: 16px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: rgba(255, 81, 0, 0.961);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-image: url('/images/unchecked.png');
    background-size: cover;
    background-position: center;
    align-items: left;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: rgba(255, 81, 0, 0.961);
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(/images/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: rgba(255, 81, 0, 0.961);
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
}

ul li span:hover {
    background-color: #edeef0;
}

p {
    color: #ffff;
    text-align: center;
}

.fa-heart {
    color: rgba(255, 81, 0, 0.961);
}

/* Simplified responsiveness */
@media only screen and (max-width: 500px) {
    .todo-app {
        max-width: 330px;
    }

    .todo-app button {
        font-size: 14px;
        width: 10px;
    }

    .todo-app input {
        font-size: 14px;
    }
}
@media only screen and (max-width: 538px) {
    .todo-app {
        max-width: 330px;
    }



    .todo-app button {
        font-size: 14px;
        width: 10px;
        right: -10px;
    }

    .todo-app input {
        font-size: 14px;
    }
}
/* For screens up to 516px wide */
@media only screen and (max-width: 516px) {
    .todo-app {
        max-width: 330px;
        padding: 20px; 
    }

    .todo-app button {
        font-size: 14px;
        width: 10%; 
    }

    .todo-app input {
        font-size: 14px;
        width: 100%; 
    }
}

/* For screens up to 518px wide */
@media only screen and (max-width: 518px) {
    .todo-app {
        max-width: 330px;
        padding: 20px; 
    }

    .todo-app button {
        font-size: 14px;
        width: 40%; 
    }

    .todo-app input {
        font-size: 14px;
        width: 100%; 
    }
}

/* For screens up to 276px wide */
@media only screen and (max-width: 310px) {
    .todo-app {
        max-width: 300px; 
        padding: 10px; 
    }

    .todo-app button {
        font-size: 12px; 
        width: 10%; 
    }

    .todo-app input {
        font-size: 12px; 
        width: 100%; 
    }

    .row {
        padding-left: 10px;
    }
}





